_libgcc_mutex
_openmp_mutex
blas
brotli-python
bzip2
ca-certificates
certifi
cffi
charset-normalizer
cryptography
cuda-cudart
cuda-cupti
cuda-libraries
cuda-nvrtc
cuda-nvtx
cuda-opencl
cuda-runtime
ffmpeg
filelock
freetype
gmp
gmpy2
gnutls
idna
intel-openmp
jinja2
jpeg
lame
lcms2
ld_impl_linux-64
lerc
libcublas
libcufft
libcufile
libcurand
libcusolver
libcusparse
libdeflate
libffi
libgcc-ng
libgomp
libiconv
libidn2
libjpeg-turbo
libnpp
libnvjitlink
libnvjpeg
libpng
libstdcxx-ng
libtasn1
libtiff
libunistring
libuuid
libwebp-base
llvm-openmp
lz4-c
markupsafe
mkl
mkl-service
mkl_fft
mkl_random
mpc
mpfr
mpmath
ncurses
nettle
networkx
numpy
numpy-base
openh264
openjpeg
openssl
pillow
pip
pycparser
pyopenssl
pysocks
python
pytorch
pytorch-cuda
pytorch-mutex
pyyaml
readline
requests
setuptools
sqlite
sympy
tbb
tk
torchaudio
torchinfo
torchtriton
torchvision
typing_extensions
tzdata
urllib3
wheel
xz
yaml
zlib
zstd
